.box {
    width: 373px;
    height: 258px;
    background-color: green;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-bottom: 30px;
    border: 2px dashed red;
}